.resourceContainer {
  margin: 2.4rem 0;
  padding: 0 1rem;
  flex-direction: column;
  gap: 2.4rem;
}

.memberResources {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2.4rem;
}

.membershipCard {
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1.2rem;
}

.resourceBtn {
  font-size: 1.4rem;
  border: none;
  border: 0.1rem solid #777;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: #fff;
  margin: 1.2rem auto;
  transition: ease-in;
}

.resourceBtn:hover {
  background-color: #dbdbdb;
}
