:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Custom colors */
  --color-brand--1: #213547;
  --color-brand--12: #4d5d6c;
  --color-brand--2: #415866;
  --color-brand--3: #ac255e;
  --color-brand--4: #451111;

  --color-brand--5: #eeeeee;
  --color-brand--6: #d8dbe7;
  --color-brand--7: #1f005c;
  --color-brand--8: #5b0060;

  --color-text--1: #ffffff;
  --color-text--2: #a3d8fa;

  --color-transparent--1: rgb(0, 0, 0, 0.025);
  --color-transparent--2: rgb(0, 0, 0, 0.05);
  --color-transparent--3: rgb(0, 0, 0, 0.5);
  --color-transparent--4: rgb(0, 0, 0, 0.8);
  --color-transparent--5: rgb(0, 0, 0, 0.9);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

#root {
  height: 100vh;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  margin: 0 auto;
  min-width: 32rem;
  height: 100%;
  /* min-height: 100vh; */
  font-size: 1.6rem;
  line-height: 1.6;
}

label {
  font-size: 1.4rem;
  font-weight: 600;
}

input,
textarea,
select {
  width: 100%;
  padding: 0.6rem 1.2rem;
  font-family: inherit;
  font-size: 1.6rem;
  border: 0.01rem solid #d6d6d6;
  border-radius: 5px;
  background-color: var(--color-transparent--1);
  transition: all 0.2s;
}

input:focus,
select:focus {
  background-color: var(--color-transparent--2);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

/* 
=============================================================
*/
.cta:link,
.cta:visited {
  display: inline-block;
  background-color: #fff;
  color: var(--color-brand--3);
  color: #ab274f;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  z-index: 1;
}

.cta:hover,
.cta:active {
  background-color: var(--color-brand--3);
  color: #fff;
}

.ctaLink:link,
.ctaLink:visited {
  display: inline-block;
  background-color: var(--color-brand--1);
  color: var(--color-text--1);
  border: 0.01rem solid var(--color-brand--1);
  text-align: center;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.6rem 2rem;
  border-radius: 5px;
  z-index: 1;
}

.ctaLink:hover,
.ctaLink:active {
  background-color: var(--color-text--1);
  color: var(--color-brand--1);
  border: 0.01rem solid var(--color-brand--1);
}

.ctaLink.memberType {
  display: flex;
  flex-direction: column;
}

.ctaOutline:link,
.ctaOutline:visited {
  display: inline-block;
  text-align: center;
  color: var(--color-brand--1);
  border: 0.01rem solid var(--color-brand--1);
  text-transform: capitalize;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 1rem 2rem;
  border-radius: 5px;
  font-weight: 600;
}

.ctaOutline:hover,
.ctaOutline:active {
  color: var(--color-text--1);
  background-color: var(--color-brand--1);
}

.downloadLink {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  text-decoration: none;
  box-shadow: 0px 0px 1px 0px rgb(88, 110, 130, 0.5);
  border-radius: 0.5rem;
}

/* Sections */
.section {
  padding: 3.2rem 6.4rem;
  margin: 2.4 auto;
  @media screen and (min-width: 1440px) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.sectionLayout {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.intro {
  color: var(--color-brand--3);
  font-size: 1.4rem;
}

/* Headers */
.headingPrimary {
  color: var(--color-brand--1);
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: 700;
}

.headingSecondary {
  color: var(--color-brand--1);
  text-transform: capitalize;
  font-size: 2.4rem;
  font-weight: 700;
}

.headingTertiary {
  color: var(--color-brand--1);
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 700;
}

/* Grid layout */
.grid {
  display: grid;
}

.gridOneCol {
  grid-template-columns: 1fr;
}

.gridTwoCol {
  grid-template-columns: repeat(2, 1fr);
}

.gridThreeCol {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gridFourCol {
  grid-template-columns: repeat(4, 1fr);
}

/* Form grid layout */
.formGrid {
  display: grid;
}

.formTwoCol {
  grid-template-columns: repeat(2, 1fr);
}

.formThreeCol {
  grid-template-columns: repeat(3, 1fr);
}

.formFourCol {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gridNewsLetter {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 6.4rem;
}

.gridNewsLetter form .inputControl div {
  max-width: 40rem;
  width: 70%;
}

.inputControl__twoEqual {
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
}

.inputControl__threeEqual {
  grid-template-columns: repeat(3, 1fr);
  gap: 2.4rem;
}

.inputControl__twoUnequal {
  grid-template-columns: 1fr 2fr;
  gap: 2.4rem;
}

.inputControl__threeUnequal {
  grid-template-columns: 3fr 1fr;
  gap: 2.4rem;
}

/* Lists */
.listLinks ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding-top: 1rem;
  padding-left: 0;
}

.listLinks ul li a:link,
.listLinks a:visited {
  text-decoration: none;
  color: inherit;
}

.listLinks ul li a:hover,
.listLinks a:active {
  text-decoration: underline;
  color: var(--color-brand--3);
}

/*  */
@media only screen and (min-width: 768px) and (max-width: 960px) {
  body {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .section {
    padding: 2.4rem 6.4rem;
  }

  .sectionLayout {
    gap: 1.4rem;
  }

  .headingPrimary {
    font-size: 3rem;
  }

  .gridTwoCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridThreeCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .gridFourCol {
    grid-template-columns: repeat(3, 1fr);
  }

  /*  */
  .formGrid {
    display: grid;
  }

  .columnTwo {
    grid-template-columns: 2fr;
  }

  .columnThree {
    display: grid;
    grid-template-columns: 3fr;
  }

  .columnFour {
    display: grid;
    grid-template-columns: 4fr;
  }

  .gridNewsLetter {
    display: grid;
    grid-template-columns: 5fr 1fr;
  }
}

@media only screen and (min-width: 540px) and (max-width: 768px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  body {
    font-size: 1.8rem;
    line-height: 1.4;
  }

  .section {
    padding: 2.4rem 4.8rem;
  }

  .headingPrimary {
    font-size: 2.4rem;
  }

  .headingSecondary {
    font-size: 2rem;
  }

  .gridTwoCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridThreeCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridFourCol {
    grid-template-columns: repeat(2, 1fr);
  }

  /*  */
  .formGrid {
    display: grid;
  }

  .columnTwo {
    grid-template-columns: 2fr;
  }

  .columnThree {
    display: grid;
    grid-template-columns: 2fr;
  }

  .columnFour {
    display: grid;
    grid-template-columns: 2fr;
  }

  /*  */
  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 480px) and (max-width: 540px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  body {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .section {
    padding: 2.4rem 2.4rem;
  }

  .headingPrimary {
    font-size: 2rem;
  }

  .headingSecondary {
    font-size: 1.8rem;
  }

  .gridTwoCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridThreeCol {
    display: grid;
    grid-template-columns: 2fr;
  }

  .gridFourCol {
    grid-template-columns: 3fr;
  }

  /*  */
  .formGrid {
    display: grid;
  }

  .columnTwo {
    grid-template-columns: 1fr;
  }

  .columnThree {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columnFour {
    display: grid;
    grid-template-columns: 2fr;
  }

  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*  */
  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .inputControl {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  /* styles for mobile browsers smaller than 480px; (iPhone) */
  body {
    font-size: 1.6rem;
    line-height: 1.4;
  }

  .section {
    padding: 2.4rem 2.4rem;
  }

  .headingPrimary {
    font-size: 2rem;
  }

  .headingSecondary {
    font-size: 1.8rem;
  }

  .gridTwoCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridThreeCol {
    display: grid;
    grid-template-columns: 1fr;
  }

  .gridFourCol {
    grid-template-columns: 1fr;
  }

  /*  */
  .formGrid {
    display: grid;
  }

  .columnTwo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columnThree {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columnFour {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*  */
  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .inputControl {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 350px) {
  /*  */
  .formGrid {
    display: grid;
  }

  .columnTwo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columnThree {
    display: grid;
    grid-template-columns: 1fr;
  }

  .columnFour {
    display: grid;
    grid-template-columns: 1fr;
  }

  /*  */
  .gridNewsLetter {
    display: grid;
    grid-template-columns: 1fr;
  }

  .inputControl {
    display: grid;
    grid-template-columns: 1fr;
  }
}
